/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(to bottom, #333, #555);
    padding: 40px 20px;
    text-align: center;
}

.header h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 10px;
}

.header p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-me {
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.rounded-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #3bc9e1;
}

.progress-bar::-moz-progress-bar {
    background-color: #3bc9e1;
}

.progress-bar::-ms-fill-level {
    background-color: #3bc9e1;
}

.linkedin-profile-link {
    font-size: 16px;
    color: #337ab7;
    margin-left: 10px;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .header {
        padding: 20px;
    }
    
    .about-me {
        padding: 30px;
    }
    
    .skills {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }
    
    .about-me {
        padding: 20px;
    }
    
    .skills {
        margin-bottom: 5px;
    }
}