/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
}

#navbar {
    background-color: #385236;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    margin-right: 20px;
}

#blog h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#posts-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.post h2 {
    font-size: 18px;
    margin-top: 10px;
}

.post p {
    font-size: 16px;
}

#about, #contact {
    background-color: #f7f7f7;
    padding: 20px;
}