/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
}

#navbar {
    background-color: #22512b;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#new-post {
    display: none; /* hide the new post form by default */
}

#posts-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.post h2 {
    font-weight: bold;
    margin-top: 0;
}

.post p {
    font-size: 16px;
    line-height: 24px;
}

.post a {
    text-decoration: none;
    color: #337ab7;
}

.post a:hover {
    color: #23527c;
}